<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListAllEmergency</servlet-name>
        <servlet-class>tme.project.demo.servlet.ListAllEmergency</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmergency</servlet-name>
        <servlet-class>tme.project.demo.servlet.AddEmergency</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>tme.project.demo.servlet.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>tme.project.demo.servlet.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLocation</servlet-name>
        <servlet-class>tme.project.demo.servlet.DeleteLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>tme.project.demo.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>tme.project.demo.servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>tme.project.demo.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>tme.project.demo.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyEmergency</servlet-name>
        <servlet-class>tme.project.demo.servlet.MyEmergency</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>tme.project.demo.servlet.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusAccept</servlet-name>
        <servlet-class>tme.project.demo.servlet.StatusAccept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailUser</servlet-name>
        <servlet-class>tme.project.demo.servlet.DetailUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstAid</servlet-name>
        <servlet-class>tme.project.demo.servlet.FirstAid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>tme.project.demo.servlet.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoFirstaid</servlet-name>
        <servlet-class>tme.project.demo.servlet.InfoFirstaid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageLocation</servlet-name>
        <servlet-class>tme.project.demo.servlet.ManageLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuperHome</servlet-name>
        <servlet-class>tme.project.demo.servlet.SuperHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>tme.project.demo.servlet.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>tme.project.demo.servlet.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferPage</servlet-name>
        <servlet-class>tme.project.demo.servlet.TransferPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllLocation</servlet-name>
        <servlet-class>tme.project.demo.servlet.ListAllLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllOfficer</servlet-name>
        <servlet-class>tme.project.demo.servlet.ListAllOfficer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOfficer</servlet-name>
        <servlet-class>tme.project.demo.servlet.DeleteOfficer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCase</servlet-name>
        <servlet-class>tme.project.demo.servlet.MyCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAcceptCase</servlet-name>
        <servlet-class>tme.project.demo.servlet.DetailAcceptCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCompletedCase</servlet-name>
        <servlet-class>tme.project.demo.servlet.DetailCompletedCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailDirectCase</servlet-name>
        <servlet-class>tme.project.demo.servlet.DetailDirectCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferedCase</servlet-name>
        <servlet-class>tme.project.demo.servlet.TransferedCase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmergency</servlet-name>
        <url-pattern>/AddEmergency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllEmergency</servlet-name>
        <url-pattern>/ListAllEmergency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyEmergency</servlet-name>
        <url-pattern>/MyEmergency</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusAccept</servlet-name>
        <url-pattern>/StatusAccept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailUser</servlet-name>
        <url-pattern>/DetailUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstAid</servlet-name>
        <url-pattern>/FirstAid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoFirstaid</servlet-name>
        <url-pattern>/InfoFirstaid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageLocation</servlet-name>
        <url-pattern>/ManageLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuperHome</servlet-name>
        <url-pattern>/SuperHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferPage</servlet-name>
        <url-pattern>/TransferPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllLocation</servlet-name>
        <url-pattern>/ListAllLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLocation</servlet-name>
        <url-pattern>/DeleteLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllOfficer</servlet-name>
        <url-pattern>/ListAllOfficer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOfficer</servlet-name>
        <url-pattern>/DeleteOfficer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCase</servlet-name>
        <url-pattern>/MyCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAcceptCase</servlet-name>
        <url-pattern>/DetailAcceptCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCompletedCase</servlet-name>
        <url-pattern>/DetailCompletedCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailDirectCase</servlet-name>
        <url-pattern>/DetailDirectCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferedCase</servlet-name>
        <url-pattern>/TransferedCase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
